<div *ngIf="chartData && chartData.length > 0">
    <ngx-charts-pie-chart
      [results]="chartData"
      [view]="[700, 400]"
      [scheme]="colorScheme"
      [gradient]="true"
      [legend]="true"
      [labels]="true"
      [doughnut]="false"
      [arcWidth]="0.25"
      [explodeSlices]="false"
      [animations]="true">
    </ngx-charts-pie-chart>
  </div>
  
  <div *ngIf="isLoading">Loading...</div>
  
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="onUpload()">Upload</button>
  